<ion-view style="" class=" " id="page17" title="Astuces">
    <ion-content class="has-header" padding="true">
-	Un jeton a échangé d’une valeur de 25f CFA dissimulé au hasard dans les sachets.

-	Savez-vous que la formule chimique de la solidification de l’eau c’est : H2O

-	Poussée d’Archimède
Le volume de glace émergée correspond au volume d’eau produit par la fonte du glaçon

-	Des glaçons à faire aux fruits ou agrumes
        <ion-grid>
            <ion-row>
            <ion-col col-6><a href="#"><img  src="img/imgfruit.jpg"></a></ion-col>
            <ion-col col-6><a href="#"><img  src="img/imgfruit1.jpg"></a></ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</ion-view>
