<ion-view style="" class=" " id="page15" title="Mot de passe oblié"
    <ion-content class="has-header" padding="true">
      <ion-card>
        <ion-card-header>
          Modification de mot de passe
        </ion-card-header>
        <ion-card-content>
          <ion-list >
            <button ion-item>
              <ion-icon name="ios-mail" item-start color="rgb(201, 28, 28)"></ion-icon>
              <ion-input type="email" ng-model="email" placeholder="Entrer votre adresse email" ></ion-input>
            </button>
            <button ion-button block round outline color="rgb(201, 28, 28)" (click)="reset()">Envoyer</button>
            <button ion-button full clear color="rgb(201, 28, 28)" ui-sref="menu2" >Annuler</button>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-content>
</ion-view>