<ion-view style="" class=" " id="page18" title="Information">
    <ion-content class="has-header" padding="true">
            <b>ICE CUBE</b>, voit le jour dans le but de combler le déficit de distribution de glaçons au Cameroun dans un premier temps, dans la région du littoral plus précisément dans la zone de DOUALA.
            <b>ICE CUBE</b>, une distribution de proximité grâce à sa maitrise du terrain.
            <b>ICE CUBE</b>, une solide chaîne de distribution qui repose sur ces moyens et son matériel de pointe.
            <b>ICE CUBE</b>, une analyse journalière de son eau filtrée.
            <b>ICE CUBE</b>, garantie une eau au taux PH 8, TAC 8, TH 8.          
    </ion-content>
</ion-view>
